*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
        background:linear-gradient(rgb(0,0,0,0.3), rgba(0,0,0,0.5)),white ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background: position 0; 
      margin: 0%;
      padding: 0%;
      padding-top: 100px;
      
}
.hap{
  color: white;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border-bottom: 3px solid orange;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
.rap{
  display: flex;
  align-items: center;
}
.add{
  border-radius: 50px;
  width: 4vw;
}
#ABOUT{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.pat{
  width: 300px;
  padding: 30px 20px;
  background-color: rgba(255,255,255,0.6);
  /* margin-left: 50px; */
  height: fit-content;
  border-radius: 30px;

}.five,.six{
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid   black;
  margin: 6px;
  background-color: orange;
  transition: 1s;
}
.five:hover{
  background-color: black;
  color: beige;
}
.six:hover{
  background-color: black;
  color: beige;
  
}
a{
  text-decoration: none;
  color: white;
  padding: 8px;
}
.put{
    width: 50vw;
}

/* product section */
.hat{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6px;
  justify-content: space-around;
  flex-wrap: wrap;


}
img{
  width: 20vw;
  border-radius: 20px;
  
}
.seven{
width:fit-content;
 height: 70vh; 
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 20px;
  border-radius: 20px;

}
.eight{
width: fit-content;
height: 70vh;
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 20px;
    border-radius: 20px;
}
.nine{
width: fit-content;
 height: 70vh;
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 50px;
    border-radius: 20px;
}
.ten{
width: fit-content;
 height: 60vh;
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 200px;
    border-radius: 20px;
  
}
/* contact section */
.contact{
  padding: 20px;
  margin-bottom:30px ;
  width: fit-content;
  height: 40vh;
  background-color: rgba(255,255,255,0.6);
  border-radius:30px;
}
.how{
  color: blue;
}
/* footer */
footer{border-radius: 5px;
  background-color: black;
  padding: 30px;
  color: white;
  border-top: solid orange 8px;

  
}
 @media (max-width: 920px) {
  body{
    padding-top: 50px;
  }
 h1.hap{
  padding-right: 7px;
  font-size: small;
  font-weight: bold;

 }
 .eleven{
  font-size: small;
  padding-left: 5px;
 }
.head{
  display: flex;
  font-size: xx-small;
}
nav a{
  font-size: xx-small;
}
.about{
  padding-top: 30px;
  /* padding-left: 50px; */
}
.put{
  width: 70vw;
  padding: 10px;
}

  .hat{
  display: flex;
   max-width: 50%;  
  padding: 6px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 40px;

  

}
.seven,.eight,.nine,.ten {
  height: 40vh;
 
}
.seven img{
  width: 40vw;
}
.eight img{
  width: 40vw;
}
.nine img{
  width: 38vw;
}
.ten img{
width: 40vw;
}
}